html{
    height: 100%;
}
body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
    // overflow: hidden;
}

button {
    appearance: none; 
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
  }

$blue : #94D7DB;
$purple: #A540D4;
$spacing: .8rem;